<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      
    </startup>
  <connectionStrings>
    <add name="ConnectionString"
      connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=WPFproject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  

  <appSettings>
  
    <add key="pinCode" value="181156103191251067188253066247102112206186" />
  </appSettings>
</configuration>